.our-puppies-and-adults__carousel {
    position: relative;
    margin-top: 45px;
    /* min-height: 630px; */
    width: 100%;
}

.our-puppies-and-adults__header {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 20px;
    line-height: 1.65;
}

.our-puppies-and-adults__title {
    font-size: 34px;
    letter-spacing: -.03em;
}

.our-puppies-and-adults__liner-under-heading {
    margin: 15px 0;
    width: 6%;
    height: 3px;
    background-color: var(--color-main);
}

.our-puppies-and-adults__text {
    font-size: 16px;
    color: var(--color-text-on-light);
    letter-spacing: .03em;
}

.our-puppies-and-adults__image {
    display: block;
    width: 100%;
    /* height: 100%; */
    /* object-fit: cover; */
}

.our-puppies-and-adults__carousel-slides {
    /* carousel__track-container */
    height: 100%;
    /* overflow: hidden; */

}

.our-puppies-and-adults__carousel-items {
    /* carousel__track */
    padding: 0;
    margin: 0;
    transition: transform 500ms ease-in
}

.our-puppies-and-adults__cart-containar {
    /* carousel__slide */
    position: absolute;
    padding: 0 15px;
    width: 100%;
}

.our-puppies-and-adults__image-text {
    font-size: 22px;
    color: var(--color-text-on-light);
    margin-top: 20px;
}

.our-puppies-and-adults__button {
    position: absolute;
    z-index: 10;
    top: 50%;
    /* transform: translateY(-50%); */
    background: transparent;
    border: 0;
    background: var(--color-secondary);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
}

.our-puppies-and-adults__button > svg {
    width: 12px;
    height: 12px;
    opacity: .85;
}

.btn-prev {
    left: 0px;
    transform: rotate(180deg);
    opacity: .85;
    padding-top: 2px;
}

.btn-next {
    right: 0px;
    opacity: .85;
    padding-top: 2px;
}

.our-puppies-and-adults__indicators {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 15px 0 30px;
}

.indicators-dot {
    border: 0;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: var(--color-secondary);
    opacity: .3;
    margin: 0 8px;
    cursor: pointer;
}

.btn-prev:hover,
.btn-next:hover,
.indicators-dot:hover {
    opacity: 1;
}

.indicators-dot.current-slide {
    opacity: .75;
}

/* .our-puppies-and-adults__indicators.current-slide:active {
    opacity: .75;
    background: red;
} */

@media (min-width: 768px){

    .our-puppies-and-adults__cart-containar {
        width: 50%;
    }

    .our-puppies-and-adults {
        padding-top: 95px;
        padding-bottom: 100px;
    }
    .our-puppies-and-adults__title {
        font-size: 37px;
    }
    .our-puppies-and-adults__image-text {
        font-size: 23px;
    }

    /* .our-puppies-and-adults__carousel  {
        min-width: 552px;
    } */

    .our-puppies-and-adults__button {
        width: 32px;
        height: 32px;
    }

    .our-puppies-and-adults__button > svg {
        width: 20px;
        height: 20px;
    }
}

@media (min-width: 991px){

    .our-puppies-and-adults {
        padding-top: 100px;
    padding-bottom: 110px;
    }

    .our-puppies-and-adults__title {
        font-size: 40px;
    }

    .our-puppies-and-adults__liner-under-heading {
        width: 3%;
    }

    .our-puppies-and-adults__carousel {
        margin-top: 50px;
    }

    .our-puppies-and-adults__image-text {
        font-size: 24px;
    }
}

@media (min-width: 1199px){

    .our-puppies-and-adults__button {
        background: transparent;
    }

    .our-puppies-and-adults__button > svg {
        width: 30px;
        height: 30px;
        fill: var(--color-secondary);
    }

    .btn-prev {
        left: -15px;
        transform: rotate(180deg);
    }

    .btn-next {
        right: -15px;
    }
}